* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #fffafa;
    background-color: rgba(86, 97, 193, 0.556);
}
h1 {
    height: 20vh;
    background: linear-gradient(
        45deg,
        #ff6b6b,
        #4d41ad,
        #f4f7f7,
        #de1616
    );
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(31, 15, 15);
    position: relative;
    animation: gradientBG 15s ease infinite;
    overflow: hidden;
}
@keyframes gradientBG {
    0% {
        Background-position: 0% 50%;
    }
    50% {
        Background-position: 100% 50%;
    }
    100% {
        Background-position: 0% 50%;
    }
}

p {
    height: 20vh;
    background: linear-gradient(
        45deg,
        #ff6b6b,
        #4d41ad,
        #f4f7f7,
        #de1616
    );
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(31, 15, 15);
    position: relative;
    animation: gradientBG 15s ease infinite;
    overflow: hidden;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.id {
    height: 20vh;
    background: linear-gradient(
        45deg,
        #ff6b6b,
        #4d41ad,
        #f4f7f7,
        #de1616
    );
    background-size: 400% 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(31, 15, 15);
    position: relative;
    animation: gradientBG 15s ease infinite;
    overflow: hidden;
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
button {
background-color: #4CAF50; 
color: white; 
border: none; 
padding: 12px 24px; 
border-radius: 25px; 
font-size: 16px; 
cursor: pointer; 
transition: background-color 0.3s, transform 0.2s ease; 
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}

button:hover {
background-color: #45a049; 
transform: translateY(-2px); 
}

button:active {
background-color: #3e8e41; 
transform: translateY(2px); 
}




